p {
    /* color: blue; */
    font-family: sans-serif;
}
.form-div {
  /* background-color: white; */
  /* height: 700px; */
}

.contain {
  width: 100%;
  min-height: 700px;
  background-image: url('./pictures/house-background.jpg');
  background-size:cover;
}

.center_div {
  width: 30%;
  margin: 0 auto;
  text-align: left;
  padding-top: 15px;
  border-top: black 1px solid;
}

#advert {
  margin-bottom: 10px;
}

input {
  min-width: 300px;
  max-width: 600px;
}
header{
  width: 100%;
  height: 150px;
  text-align: center;
  font-size: 70px;
  padding-top: 10px;
  border-bottom: black 1px solid;
}


footer{
  text-align: center;
  font-size: 15px;
  height: 50px;
  border-top: black 1px solid;
  margin-top: 2px;
}

footer p{
  padding: 10px;
  color: black;
}

.form-b {
  padding: 30px;
  margin-top: 20px;
}

.house-list{
  margin: 0 auto;
}
table, td, th {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

table {
    border-collapse: collapse;
    max-width: 700px;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;

}

td {
    height: 30px;
    vertical-align: bottom;
}
.house-list h1 {
  text-align: center;
}


/* translucent  */
.translucent-form-overlay {
  /* max-width: 500px; */
  /* width: 100%; */
  background-color: rgba(54, 54, 54, 0.6);
  /* padding: 20px; */
  color: #fefefe;
}

.translucent-form-overlay .columns.row {
  display: block;
}

/* button simulation */
.button-simulation {
  border: gray 1px solid;
  width: 70px;
  height: 5;
  background-color: #FAF8F6;
  text-align: center;
}
.button-simulation a {
  text-decoration: none;
  font-size: 17px;
  color: black;

}
